unpackaged/main/default/flows/Reopen_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Id</name>
        <label>Assign Case Id</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Case_closed</name>
        <label>is Case found</label>
        <locationX>456</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Case not Found</defaultConnectorLabel>
        <rules>
            <name>Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_case_closed_with_other_reason</targetReference>
            </connector>
            <label>Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_case_closed_with_other_reason</name>
        <label>Is case closed with other reason</label>
        <locationX>258</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Case closed in some other way</defaultConnectorLabel>
        <rules>
            <name>Case_closed_with_other_reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>Case closed with other reason</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reopen Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reopen Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>456</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Case_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Reason</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Case_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
